<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>名字</th>
				<th>值</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>总仪表板</td>
				<td>{{ctrl.stats.dashboards}}</td>
			</tr>
			<tr>
				<td>用户总数</td>
				<td>{{ctrl.stats.users}}</td>
			</tr>
			<tr>
				<td>活跃用户（过去14天）</td>
				<td>{{ctrl.stats.activeUsers}}</td>
			</tr>
			<tr>
				<td>组织数</td>
				<td>{{ctrl.stats.orgs}}</td>
			</tr>
			<tr>
				<td>总数据源</td>
				<td>{{ctrl.stats.datasources}}</td>
			</tr>
			<tr>
				<td>总播放列表</td>
				<td>{{ctrl.stats.playlists}}</td>
			</tr>
			<tr>
				<td>总快照数</td>
				<td>{{ctrl.stats.snapshots}}</td>
			</tr>
			<tr>
				<td>仪表盘标签数</td>
				<td>{{ctrl.stats.tags}}</td>
			</tr>
			<tr>
				<td>总收藏仪表盘数</td>
				<td>{{ctrl.stats.stars}}</td>
			</tr>
      <tr>
				<td>总警报数</td>
				<td>{{ctrl.stats.alerts}}</td>
			</tr>
		</tbody>
	</table>
</div>
